#root {
    max-width: 1280px;
    margin: 0 auto;
}

h1 {
    font-size: 60px;
}

p {
    margin: 0;
}

.pomodoro-container {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.timer {
    max-width: 600px;
    min-width: 550px;
    height: 250px;
    padding: 20px;
    background-color: #fff;
    border: 2px solid #444;
    border-radius: 10px;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statements {
    width: 80%;
    font-size: 40px;
    display: flex;
    justify-content: space-around;
}

.button-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.user-setting-wrapper {
    width: 80%;
    margin: 40px 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.setting {
    width: 100px;
    margin-right: 20px;
    border: none;
    border-bottom: 1px solid #888;
    font-size: 24px;
}

.button {
    width: 150px;
    height: 50px;
    border: 2px solid #444;
    border-radius: 5px;
    font-size: 24px;
    box-shadow: 0 3px 2px 0 #ccc;
    transition: .2s all;
}

.button:hover{
    transform: translateY(3px);
    box-shadow: none;
}

.setting-container {
    display: flex;
    flex-direction: column;
}

.description{
    width: 100%;
    padding: 10px;
    margin-top: 80px;
    border-top: 2px solid #ccc;
}
@media screen and (max-width: 648px) {
    .user-setting-wrapper {
        width: 50%;
        flex-direction: column;
}
    .button{
        margin-top: 20px;
    }
}
